#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(32, 13%, 25%);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(278, 31%, 69%);
}
button:active{
    background-color: hsl(278, 31%, 69%);
}
input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
body{
    background-image:
     url("coffee shop with large windows looking out into the groove lofi world.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
}
#diceResult{
    margin: 25px;
}
#diceImages img{
    width: 150px;
    margin: 5px;
}